<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{2,2},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{122,2},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{242,2},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{362,2},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{482,2},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{602,2},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{722,2},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{842,2},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{2,178},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{122,178},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{242,178},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{362,178},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{482,178},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>C9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{602,178},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{722,178},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{842,178},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{2,354},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{122,354},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{242,354},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{362,354},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{482,354},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{602,354},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{722,354},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{842,354},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{2,530},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{122,530},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>D9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{242,530},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{362,530},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{482,530},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{602,530},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{722,530},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{842,530},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{2,706},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,175}</string>
                <key>spriteSourceSize</key>
                <string>{118,175}</string>
                <key>textureRect</key>
                <string>{{122,706},{118,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{242,706},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{362,706},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{482,706},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{602,706},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{722,706},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,175}</string>
                <key>spriteSourceSize</key>
                <string>{118,175}</string>
                <key>textureRect</key>
                <string>{{842,706},{118,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{2,883},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{122,883},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{242,883},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{362,883},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{482,883},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{602,883},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{722,883},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{842,883},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{2,1059},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{122,1059},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{242,1059},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{362,1059},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,174}</string>
                <key>spriteSourceSize</key>
                <string>{118,174}</string>
                <key>textureRect</key>
                <string>{{482,1059},{118,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>normal_cards.png</string>
            <key>size</key>
            <string>{962,1235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4618147f87a8b261edcd1c8dfa95c0d:c5cf770455a159875c93ba54967d5391:a6645174e2c1e2088566775cdd13e421$</string>
            <key>textureFileName</key>
            <string>normal_cards.png</string>
        </dict>
    </dict>
</plist>
